<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="New_Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=DESKTOP-60EFUQD;Initial Catalog=QLThuVien;Persist Security Info=True;User ID=sa;Password=123456"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <New_Library.Properties.Settings>
            <setting name="LibraryName" serializeAs="String">
                <value>Thư viện</value>
            </setting>
            <setting name="LibraryAddress" serializeAs="String">
                <value>Địa chỉ</value>
            </setting>
            <setting name="LibraryEmail" serializeAs="String">
                <value>gmail.com</value>
            </setting>
            <setting name="LibraryPhoneNumber" serializeAs="String">
                <value>01255185458</value>
            </setting>
        </New_Library.Properties.Settings>
    </userSettings>
</configuration>